#footer{
  background: $background-color;
}
.footer__media{
  padding: 0;
  text-align: center;
}
footer a{
  margin: 5px 10px;
}
.footer__img{
  align-items: center;
  border-bottom: 1px #FFFFFF solid;
  width: 80%;
  margin: 0 auto;
}
footer img{
  max-width:36px;
  padding: 10px;
}
.footer__link{
  padding: 20px;
}
.footer__preorder{
  padding: 30px 0;
  font-size: 2rem;
  text-align: center;
}
.footer__preorder a{
  padding: 10px 15px;
  border: 3px solid $secondary-color;
  border-radius: 25px;
  transition: 0.4s;
}
/*********************
    ANIMATIONS
*********************/
.footer__preorder a:hover{
  background: $secondary-color;
  color: $background-color;
  border: 3px solid $secondary-color;
}