#footer{
  background: rgba($background-color, $alpha: 0.75);
}
#footer div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.footer__link {
  flex-flow: column;
  border-right: 1px solid #FFFFFF;
}
footer a{
  text-decoration: none;
  color: $secondary-color;
  font-family: $primary-font;
  margin: 5px;
}
.footer__img{
  align-items: center;
}
footer img{
  max-width:36px;
  padding: 10px;
}