header{
  background: $background-color;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 1000;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
}
nav ul{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul.hidden-sm li{
  font-size: 1.2rem;
  padding:20px 20px;
}
.ul__li--preorder a{
  background: $tertiary-color;
  border-radius: 3%;
  color: $primary-color;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.4s;
}
.ul__li--preorder:hover a{
  background: $secondary-color;
}
ul.hidden-lg{
  margin: 0;
}
ul.hidden-lg li img{
  width: 10vw;
  padding: 10px 50px;
}