/*******************
      INDEX
*******************/
#main{
  background: url(../images/io_front.png) no-repeat -1vw 40vh;
  background-size: 400px;
}
.main__logo{
  display: flex;
  justify-content: center;
  margin: 12vh auto 5% auto;
}
.main__logo img{
  max-width: 20vw;
  max-height: 10vh;
  margin: 2.5%;
  transform: translateY(-300px);
  transition: 0.4s;
}
h1{
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.2rem;
  font-size: 3.3rem;
  margin: 0 auto;
  max-width: 100%;
  transition: letter-spacing 0.4s;
}
.main__div--border{
  border-top: 1px solid #FFFFFF;
  max-width: 70%;
  margin: 2% auto 0 auto;
}
.main__section{
  display: flex;
  justify-content: flex-end;
  margin: 15vw 0;
  padding: 1% 0;
}
.main__article{  
  border-left: 1px solid #FFFFFF;
  width: 60%;
  padding-left: 3%;
  font-size: 2.5rem;
}
.main__article h2{
  margin: 0;
  padding: 0 0 5% 0;
  font-size: 3rem;
  font-weight: normal;
  transition: transform 0.4s;
}
.main__article ul{
  margin: 0;
  padding-left: 2vw;
  transition: transform 0.4s;
  font-size: 2rem;
}
.main__article ul li{
  margin-bottom: 2%;
}
.main__link{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding: 5% 5% 10% 5%;
  transition: 0.4s;
}
.main__link a{
  padding: 5px 10px;
  border: 3px solid $secondary-color;
  border-radius: 25px;
  transition: 0.4s;
}
.main__link img{
  max-width: 3vw
}
.main__footer{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-top: 1px solid #FFFFFF;
  background: rgba($color: #000000, $alpha: 0.25);
}
.main__footer img{
  height: 5vh;
}
.main__footer h3{
  font-size: 1.5rem;
  margin: 0 auto;
  height: 20%;
}
.main__footer__article{
  width: 25%;
  display: flex;
  padding: 5px;
}
.main__footer__article ul{
  text-align: center;
  padding: 0;
  list-style: none;
}
.back_to_top{
  margin:0 auto;
  width: 100%;
  text-align: center;
  padding: 0;
  transition: 0.4s;
}
.back_to_top img{
  width: 3vw;
}
/*********************
    ANIMATIONS
*********************/
body:hover .main__logo img {
  transform: translateY(30%);
}
h1:hover{
  letter-spacing: 0.1rem;
}
main section:hover .main__article h2, main section:hover .main__article ul{
  transform: translateX(5vw);
}
.main__link:hover{
  font-size: 2.1rem;
}
.main__link a:hover{
  background: $secondary-color;
  color: $background-color;
  border: 3px solid $secondary-color;
}
.back_to_top:hover{
  transform: scale(1.2);
}
/*********************
    CARACTERISTIQUES
**********************/
.main2__section{
  margin-top: 15vh;
}
.main2__article h2{
  border-bottom: 1px $secondary-color solid;
  font-weight: normal;
  transition: 0.4s;
}
.main2__section img.absolute{
  top:0;
  left:60%;
  width: 20vh;
}
.main2__article img.absolute{
  display:none;
}
.main2__section ul{
  width: 40%;
  padding: 0 0 0 5px;
  list-style: none;
}
.main2__section li{
  margin-bottom: 15vh;
}
.click_me{
  display: none;
  padding: 0;
}
.click_me::after{
  content:" →"
}
.main2__article::after{
  content:url(../images/white_arrow_small.png);
  position: absolute;
  left: 0;
}
.main2__section h2::after{
  transform: translateY(1px);;
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: $secondary-color;
  transition: width .4s;
}
.main2__section2{
  margin-top: 20vh;
}
.main2__article2{
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
  margin-bottom: 20vh;
}
.row_1{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.main2__article2 img{
  padding: 5px 10px;
  width: 5vw;
  transition: 0.4s;
}
.main2__section2 h2{
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  transition: 0.4s;
}
/*********************
    ANIMATIONS
*********************/
.main2__article:hover img.absolute{
  display:block;
}
.main2__article:hover h2::after {
  width: 140%;
}
.main2__article:hover h2{
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.main2__section2 h2:hover{
  letter-spacing: 0.2rem;
}
.main2__article2 img:hover{
  transform: scale(1.1);
}
/***********
    LES +
***********/
.main_3 section .main_3__img , .main_3 section article{
  width: 50%;
}
.main_3 section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_3 article{
  padding: 0 5%;
}
.main_3 h2{
  font-size: 3rem;
  border-bottom: 1px solid $secondary-color;
}
.main_3 p{
  font-size: 1.5rem;
}
.main_3 img{
  width: 100%;
}
/**************
  FORMULAIRE
************/
.main_4 h2{
  text-align: center;
  font-weight: normal;
  margin-bottom: 10vh;
  font-size: 3rem;
}
.main_4 h3{
  text-align: center;
  font-size: 1.5rem;
}
.main_4 h2::before, .main_4 h2::after{
  content:"";
  width: 50%;
  height: 1px;
  display: block;
  margin: 0 auto;
  background: $secondary-color;
}
.main_4 h2::before{
  transform: translateY(-20px);
}
.main_4 h2::after{
  transform: translateY(20px);
}
form ul{
  list-style: none;
  padding: 0;
}
form input{
  width: 100%;
}
form li{
  padding: 5px 0;
}
form{
  display: flex;
  justify-content: space-around;
}
.price{
  display: flex;
  align-items: center;
}
.price h3{
  font-size: 3rem;
  padding: 0 10px;
  margin: 0;
}
.input_double{
  display: flex;
  justify-content: space-between;
}
input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=submit]{
  font-size: 1.5rem;
  background-color: $tertiary-color;
  color: $primary-color;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}
form section article{
  text-align: center;
}
form img{
  width: 13vw;
}
.asterisque{
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
/*********************
    ANIMATIONS
*********************/
input[type=submit]:hover{
  background-color: $secondary-color;
}
/*********************
    EVENTS
*********************/
.main_5{
  display: flex;
}
.main_5 ul h2{
  font-size: 2.5rem;
}
.main_5 ul p{
  font-size: 1.5rem;
}
.main_5 section{  
  margin-left: 10vw;
}
.main_5 ul{
  list-style: none;
  padding: 0;
  padding-left: 2vw;
}
.main_5__rdv{
  border: 1px solid $secondary-color;
  background: $background-color;
  text-align: center;
  width: 30vw;
  margin: 10vh auto;
}
.main_5__list{
  border-left: 1px solid $secondary-color;
}
.main_5__fauteuil{
  margin-top: 10vh;
  text-align: center;
}
.main_5__fauteuil img{
  transform: translateX(-20%);
  width: 30vw;
}