.main__logo{
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.main__logo img{
  max-width: 20vw;
  max-height: 10vh;
  margin: 12px;
  transform: translateY(-300px);
  transition: 1s;
}
h1{
  text-align: center;
  font-weight: normal;
  font-size: 3.5rem;
  border-bottom: 1px solid #FFFFFF;
  margin: 0 auto 70px auto;
  padding-bottom: 5px;
  width: 70%;
  transition: letter-spacing 1s;
}
h3{
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
  width: 72%;
  transition: font-size 0.75s;
}
main section{
  display: flex;
  justify-content: flex-end;
  padding: 200px 0;
}
.main__article{
  border-left: 1.5px #FFFFFF solid;
  padding-left: 20px;
  width: 65%;
  font-size: 2.5rem;
}
.main__article p{
  margin: 5px 0;
  transition: transform 1s;
}
.main__link{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding: 20px 20px 60px 20px;
  transition: 0.75s;
}
.main__link img{
  width: 3vw
}
/*********************
    ANIMATIONS
*********************/
body:hover .main__logo img {
  transform: translateY(30px);
}
h1:hover{
  letter-spacing: 0.2rem;
}
h3:hover{
  font-size: 3.05rem;
}
.main__article:hover p{
  transform: translateX(50px);
}
.main__link:hover{
  font-size: 2.1rem;
}