/***********************
    Media Queries
***********************/
.hidden-lg{
    display:none;
}
.hidden-sm{
    display:flex;
}
@media screen and (max-width:960px){
    .container{
        width: 100%;
    }
    .main__logo img{
        transform: none;
        max-width: 40vw;
    }
    body:hover .main__logo img {
        transform: none;
    }
    .hidden-sm{
        display: none;
    }
    .hidden-lg{
        display:flex;
    }
    nav ul img{
        width: 8vw;
    }
    .main__logo{
        margin: 20% 0.5% 0.5% 0.5%;
    }
    nav{
        justify-content: space-around;
    }
    h1:hover{
        letter-spacing: -0.2rem;
    }
    main section:hover .main__article h2, main section:hover .main__article ul{
        transform: none;
    }
    .main__link:hover{
        font-size: 2rem;
    }
    .main__link a:hover{
        background: $secondary-color;
        color: $background-color;
        border: 3px solid $background-color;
    }
    .main2__section2 h2{
        font-size: 2.5rem;
    }
    .main2__section2 h2:hover{
        letter-spacing: 0rem;
    }
    ul.hidden-lg li img{
        width: 50px;
        padding: 30px;
    }
    .main_3 h2{
        font-size: 2.5rem;
    }
    .main_3 p{
        font-size: 1rem;
    }
    form{
        flex-flow: column;
    }
    form section{
        margin: 0 auto;
        width: 80%;
    }
    form img{
        width: 31vw;
    }
    .main_4 h2{
        font-size: 2rem;
      }
}
@media screen and (max-width:720px){
    ul.hidden-lg li img{
        width: 10vw;
        padding: 10px;
    }
    h1{
        font-size: 2.3rem;
    }
    #main{
        background: url(../images/io_front.png) no-repeat -1vw 30vh;
        background-size: 200px;
    }
    .main__article h2{
        font-size: 2rem;
    }
      .main__article ul{
        font-size: 1rem;
    }
    .main__link{
        font-size: 1rem;
    }
    .main__link a{
        border: 2px solid $secondary-color;
    }
    .main__link img{
        max-width: 3vw
    }
    .main__footer h3{
        font-size: 1rem;
    }
    .main__footer p{
        font-size: 0.5rem;
    }
    .footer__preorder{
        font-size: 1rem;
    }
    footer img{
        max-width:26px;
        padding: 5px;
    }
    .main2__section li{
        margin-bottom: 4vh;
    }    
    .main2__article--text{
        visibility: hidden;
    }
    .click_me{
        display: block;
    }
    .main2__section2 h2{
        font-size: 2rem;
    }
    .main_3 h2{
        font-size: 2rem;
    }
    .main_3 p{
        font-size: 1rem;
    }
}
@media screen and (max-width:510px){
    .main2__section li{
        margin-bottom: 15vh;
    }
    .main2__article--text{
        display: none;
    }
    form img{
        width: 40vw;
      }
}
@media screen and (max-width:370px){
    .main__logo img{
        max-width: 20vw;
    }
    h1{
        font-size: 2rem;
    }
    #main{
        background: url(../images/io_front.png) no-repeat -1vw 30vh;
        background-size: 150px;
    }
    .main__article h2{
        font-size: 1.5rem;
    }
      .main__article ul{
        font-size: 0.5rem;
    }
    .main__link{
        font-size: 0.5rem;
    }
    .main__link a{
        border: 1.5px solid $secondary-color;
    }
    .main__link img{
        max-width: 2vw
    }
    .main2__section2 h2{
        font-size: 2rem;
    }
    .main_3 section{
        flex-flow: column;
    }
    .main_3 section .main_3__img , .main_3 section article{
        width: 90%;
      }
    .main2__section li{
        margin-bottom: 15vh;
    }
    .main2__article--text{
        display: none;
    }
}