/***********************
    Media Queries
***********************/
.hidden-lg{
    display:none;
}
.hidden-sm{
    display:flex;
}
@media screen and (max-width:960px){
    .container{
        width: 100%;
    }
    .main__logo img{
        transform: none;
        max-width: 40vw;
    }
    body:hover .main__logo img {
        transform: none;
    }
    .hidden-sm{
        display: none;
    }
    .hidden-lg{
        display:flex;
    }
    nav ul img{
        width: 8vw;
    }
    .main__logo{
        margin: 20% 0.5% 0.5% 0.5%;
    }
    nav{
        justify-content: space-around;
    }
    h1:hover{
        letter-spacing: -0.2rem;
    }
    main section:hover .main__article h2, main section:hover .main__article ul{
        transform: none;
    }
    .main__link:hover{
        font-size: 2rem;
    }
    .main__link a:hover{
        background: $secondary-color;
        color: $background-color;
        border: 3px solid $background-color;
    }
}
@media screen and (max-width:720px){
    ul.hidden-lg li img{
        width: 10vw;
        padding: 10px;
    }
    h1{
        font-size: 2.3rem;
    }
    main{
        background: url(../images/io_front.png) no-repeat -1vw 30vh;
        background-size: 200px;
    }
    .main__article h2{
        font-size: 2rem;
    }
      .main__article ul{
        font-size: 1rem;
    }
    .main__link{
        font-size: 1rem;
    }
    .main__link a{
        border: 2px solid $secondary-color;
    }
    .main__link img{
        max-width: 3vw
    }
    .main__footer h3{
        font-size: 1rem;
    }
    .main__footer p{
        font-size: 0.5rem;
    }
    .footer__preorder{
        font-size: 1rem;
    }
}